<div class="jumbotron">
    <select @change="curConf = confContents[$event.target.value]; confFile = $event.target.value;" class="browser-default custom-select">
        <option selected>Select DSP Configuration</option>
        <option v-for="conf in list" :value="conf">{{conf}}</option>
    </select>
    <div class="row justify-content-md-center mt-5">
        <div v-for="(conf, index) in curConf" :class="'card text-white my-2 mx-3 '+swapColor[isOdd(index)]" style="max-width: 20rem;">
            <div class="card-header">{{conf.split(':')[0]}}</div>
            <div class="card-body row justify-content-md-center">
                <input @blur="updateConf($event.target)"
                @keyup.enter="updateConf($event.target)" type="text" class="form-control" :data-last="conf.split(':')[1].trim().replace(/(\r\n|\n|\r)/gm,'')" :value="conf.split(':')[1].trim().replace(/(\r\n|\n|\r)/gm,'')">
            </div>
        </div>
    </div>
</div>