<div class="jumbotron">
    <select class="browser-default custom-select">
        <option selected>Select DSP Table</option>
    </select>
    <div class="table-responsive table-editable table-sm">
        <table v-if="dspTableName === 'Accounts'" id="dspTable" class="table table-striped table-bordered table-sm"
            cellspacing="0" width="100%">
            <% include ../elements/accountsTable %>
        </table>
         <table v-else-if="dspTableName === 'Chars'" id="dspTable" class="table table-striped table-bordered table-sm"
            cellspacing="0" width="100%">
            <% include ../elements/charsTable %>
            </table>

            <table v-else-if="dspTableName === 'Zone_Settings'" id="dspTable"
                class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <% include ../elements/zoneSettingsTable %>
            </table>

            <table v-else-if="dspTableName === 'Auction_House'" id="dspTable"
                class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <% include ../elements/accountsTable %>
            </table>
    </div>
</div>