<div class="jumbotron">
    <select class="browser-default custom-select">
        <option selected>Select DSP Table</option>
    </select>
    <div class="table-responsive table-editable table-sm">
        <table v-if="dspTableName === 'Accounts'" id="dspTable" class="table table-striped table-bordered table-sm"
            cellspacing="0" width="100%">
            <% include ../elements/accountsTable %>
        </table>
        <table v-else-if="dspTableName === 'Chars'" id="dspTable" class="table table-striped table-bordered table-sm"
            cellspacing="0" width="100%">
            <% include ../elements/charsTable %>
        </table>

        <div v-else-if="dspTableName === 'Zone_Settings'">
                <button type="button" class="btn btn-outline-primary waves-effect" @click="localHostIp">Localhost</button>
                <button type="button" class="btn btn-outline-primary waves-effect" @click="internalIp">Internal Ip</button>
                <button type="button" class="btn btn-outline-primary waves-effect" @click="externalIp" >External Ip</button>
            <table id="dspTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

                <% include ../elements/zoneSettingsTable %>
            </table>
        </div>
        <div v-else-if="dspTableName === 'Accounts_Sessions'">
            <table id="dspTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

                <% include ../elements/accountsSession %>
            </table>
        </div>
        <table v-else-if="dspTableName === 'Auction_House'" id="dspTable"
            class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <% include ../elements/accountsTable %>
        </table>
    </div>
</div>