<div class="jumbotron">
    <select class="browser-default custom-select" @change="logSelect($event)">
        <option selected>Select Log</option>
        <option v-for="logl in logList"  :value="logl.folder">{{logl.name}}</option>
    </select>

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">timestamp
                </th>
                <th class="th-sm">Message
                </th>
                <th class="th-sm">pid
                </th>
                <th class="th-sm">Executable
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="log in logs">
                <td>{{log.timestamp}}</td>
                <td>{{log.msg}}</td>
                <td v-if="log.extras">{{log.extras.pid}}</td>
                <td v-else></td>
                <td v-if="log.extras">{{log.extras.process}}</td>
                <td v-else></td>
            </tr>
        </tbody>
    </table>
</div>