<div class="jumbotron">
    <select id="statisticsSelect" class="browser-default custom-select" @change="statisticSelect($event)">
        <option selected disabled>Select DSP executables</option>
        <option v-if="dspExec.length !== 0" v-for="exec in dspExec" :value="exec">
            {{exec}}
        </option>
    </select>

    <div id="dspStats"></div>
</div>