<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container col-10">

    <header>
        <% include ../partials/userHeader %>
    </header>
    <div id="userApp">

    </div>

    <footer>
        <% include ../partials/footer %>
        <% include ../modals/userModal %>
    </footer>
    <% include ../partials/scripts %>

</body>

</html>