<!-- Frame Modal Bottom -->
<div class="modal fade bottom" id="areYouSure" tabindex="-1" role="dialog">

  <!-- Add class .modal-frame and then add class .modal-bottom (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-frame modal-bottom" role="document">


    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">Are you sure you would like to delete
          </p>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" @click="reRun" class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Frame Modal Bottom -->