<!--Modal: Login / Register Form-->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <form id="userLogin">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="text" id="lUsername" name="username" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="lUsername">Your email</label>
                </div>

                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" name="password" id="lPassword"
                    class="form-control form-control-sm validate viewPassword">
                  <label data-error="wrong" data-success="right" for="lPassword">Your password</label>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a @click="showTab('panel8')" href="#" class="blue-text">Sign Up</a></p>
                <p>Forgot <a @click="showTab('forgot')" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
                <form id="userRegistration">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="rEmail" name="email" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="rEmail">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="text" id="rUsername" name="username" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="rUsername">Your email</label>
              </div>


              <div class="md-form form-sm mb-1">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="rPassword" name="password"
                  class="form-control form-control-sm validate viewPassword">
                <label data-error="wrong" data-success="right" for="rPassword">Your password</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button @click="userRegistration($event)" class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" @click="showTab('panel7')" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->

          <!--Panel forgot-->
          <div class="tab-pane fade" id="forgot" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <p>So you forgot your password? No problem. Enter your email and a character name. You will be sent a
                reset link via email. Once completed you may use new password for website and server.</p>
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="rEmail" name="email" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="rEmail">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="text" id="rCharacter" name="character" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="rCharacter">Character Name(If none keep
                  blank)</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Send Email <i class="fas fa-sign-in ml-1"></i></button>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#"  @click="showTab('panel7', true)" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel forgot-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->