<!-- views/partials/header.ejs -->
<ul id="head" class="nav md-tabs nav-justified indigo lighten-2 mx-0 mb-0 mt-1">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>

    <li class="nav-item" @click="pageChange('home')">
        <a class="nav-link" href="#!">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Link 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Link 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Link 3</a>
    </li>
</ul>