<!-- views/partials/header.ejs -->
<ul class="nav md-tabs nav-justified indigo lighten-2 mx-0 mb-0 mt-1">
    <li class="nav-item" @click="pageChange('home')">
        <a class="nav-link waves-effect waves-light" href="#!">Main</a>
    </li>
    <li class="nav-item" @click="pageChange('logs')">
        <a class="nav-link waves-effect waves-light" href="#!">Characters</a>
    </li>
    <li class="nav-item" @click="pageChange('statistics')">
        <a class="nav-link waves-effect waves-light" href="#!">Auctions</a>
    </li>
    <li class="nav-item" @click="pageChange('statistics')">
        <a class="nav-link waves-effect waves-light" href="#!">Linkshells</a>
    </li>
    <li v-if="mgSync && mgSync.user"  class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false" v-cloak>{{mgSync.user[0].username}}</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="#">Configuration</a>
        </div>
    </li>

    <li v-else class="nav-item"  data-toggle="modal" data-target="#userModal">
        <a class="nav-link waves-effect waves-light" href="#!">Login</a>
    </li>
</ul>